
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

body {
  font-family: optima;
  background-color: white;
}

pre {
  font-family: inherit;
  font-style: italic;
}

.hero-background {
  background-color: #F8F8F8;
  display: flex;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-text {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: #F8F8F8;
  color: black;
  text-align: left;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 1rem;
}

.books_forms_div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.genre_search_forms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.books_page_form {
  margin-left: 3rem;
  width: 8rem;
  border-radius: 2px;
}

.add_book_button {
  flex-wrap: wrap;
  align-self: center;
  margin-right: 8rem;
  width: 8rem;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

#edit_book {
  margin-right: 2rem;
}

input {
  width:8rem;
  border-radius: 2px;
}

button {
  width: 12rem;
  padding: .5rem;
  border-radius: 2px;
  background-color: white;
  font-family: optima;
}

button:hover {
  background-color: B0C4DE;
  transition: 0.7s;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h4 {
  text-align: center;
}

.books_page_img {
  width:200px; 
  height: auto;
}

select {
  border-radius: 2px;
  width: 8rem;
}

.books_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.book_card {
  max-width: 12rem;
  padding: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.book_info {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 5%;
}

.book_page_img {
  width:400px; 
  height: auto;
  margin-right: 4rem;
}

.book_text {
  text-align: justify;
  font-size: 20px;
}

.arrow {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  margin-bottom: 2%
}

.book_reviews {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.book_recs {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.book_rec_info {
  max-width: 10rem;
}

.cart-book-img {
  max-width: 5rem;
  margin: 1rem;
}

hr {
  color: rgb(255, 255, 255);
}

input[type='radio']{
  display: none;
}

.star {
  cursor: pointer;
  transition: 200ms;
}

.stars {
  display: flex;
}

a {
  display: flex;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: flex-start;
  margin-right: 5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: .2em;
}

#cart_page_content {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

#checkout_page {
  margin-left: 5%;
  margin-right: 5%;
}

#checkout_buttons {
  display: flex;
}

#edit_quantity_button {
  margin-right: 5rem;
}

#checkout_info {
  display: flex;
  flex-direction: row;
}

#checkout_text {
  text-align: justify;
}

#checkout_page_img {
  width:100px; 
  height: auto;
  margin-right: 4rem;

  margin-bottom: 2rem;
}

#account_page {
  margin-left: 5%;
  margin-right: 5%;
}

#edit_account_page {
  margin-left: 5%;
  margin-right: 5%;
}

#add_book_page {
  margin-left: 5%;
  margin-right: 5%;
}

#users_page {
  margin-left: 5%;
  margin-right: 5%;
}

#delete_user_button {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#create_user_page {
  margin-left: 5%;
  margin-right: 5%;
}

#login_page {
  margin-left: 5%;
  margin-right: 5%;
}

#create_account_button {
  margin-top: 1rem;
}

#cart-actions {
  display: flex;
  flex-direction: column;
}

.buy_btn, .checkout_btn {
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  font-weight: bold;
  border-radius: 5%;
  border: solid 5px black;
}

#cart-book-list {
  margin-right: 15rem;
}

#order_success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order_success img {
  max-width: 50rem;
  margin: 1rem;
  border: 5px solid purple;
  border-radius: 5%;
}

#view_orders_btn {
  margin: 2rem;

}