body {
  font-family: optima;
  background-color: white;
  margin: 1rem
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .wolfe_books {
  flex-grow: 20;
} */

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.books_page_img {
  width:200px; /* you can use % */
  height: auto;
}

.books_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}