/* html, 
body {
  height: 100%;
} */

/* .site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */

/* .site-content {
  flex: 1;
} */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}

body {
  font-family: optima;
  background-color: white;
  /* margin-bottom: 20rem; */
  /* display: flex; */
  /* width: 100vw; */
}

.hero-background {
  background-color: #F8F8F8;
  display: flex;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-text {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: #F8F8F8;
  color: black;
  text-align: left;
  position:relative; 
  bottom:0;
  width: 100%
}

/* .content {
 width: 100%
} */

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin-top: 1rem;
}

.books_forms_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.books_page_form {
  margin-left: 3rem;
  width: 8rem;
  border-radius: 2px;
}

.add_book_form {
  align-self: flex-end;
}

input {
  width:8rem;
  border-radius: 2px;
}

button {
  width: 12rem;
  padding: .5rem;
  border-radius: 2px;
  background-color: white;
  font-family: optima;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.books_page_img {
  width:200px; 
  height: auto;
}

.select {
  border-radius: 2px;
}

.books_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.book_page {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-right: 5rem;
}
.book_page_img {
  width:400px; 
  height: auto;
  margin-right: 4rem;
}

.book_text {
  text-align: justify;
  font-size: 20px;
}

hr {
  color: rgb(255, 255, 255);
}

input[type='radio']{
  display: none;
}

.star {
  cursor: pointer;
  transition: 200ms;
}

.stars {
  display: flex;
}

a {
  display: flex;
  align-items: center;
}

#buttons {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: .2em;
}
